.container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100px;
  border: none;
  padding: 12px 18px;
  background-color: #dc143c;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}